body {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande',
      sans-serif;
    font-weight: 300;
    line-height: 1.6em;
    font-size: 1.3em;
  }
  
  a {
    color: #097659;
  }
  
  input {
    font-size: 1.5em;
  }
  
  .container {
    width: 960px;
    margin: auto;
    margin-top: 50px;
  }
  
  ul {
    padding-left: 20px;
  }
  
  .delete-book-link {
    color: red;
  }
  
  .editable {
    border: 1px solid black;
    padding: 20px;
  }
  
  #book-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
  }

  #modal{
      position: fixed;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 1;
      align-items: center;
      display: none;
  }